<% include ../partitials/header %>

	<h1>Articleedit Page Admin</h1>
		<form action="/admin/articleadd" method="post">
			<input name="articleName" placeholder="articleName"/>
			<input name="duration" placeholder="Dauer"/>
			<input name="startPrice" placeholder="Startpreis"/>
			<input name="bidInterval" placeholder="Bietintervall"/>
			<input name="imagePath" placeholder="Bildpfad"/>
			<input name="checked" placeholder="Freigabe"/>
			<input type="submit" value="Hinzufügen"/>
		</form>

<% include ../partitials/footer %>
