<!doctype html>
<html lang="de">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:1337');
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { 'hello': data.hello });
		});
	</script>
</head>
<body>
<h1>Hallou <%= moep.username %></h1>
	<h1>Userlist is..</h1>
		<% if(typeof userlist != "undefined"){
			for(var index in userlist) {
		%>
			<h1> User:<%= userlist[index].username %> e-Mail: <%= userlist[index].email %></h1>
		<%
				}
			}
		%>
		<form action="/adduser" method="post">
			<input name="nameVal"/>
			<input name="emailVal"/>
			<input type="submit"/>
		</form>
</body>
</html>