<form action="/login" method="post">
	<input type="text" name="biddingid" placeholder="Bieternummer"/>
	<input type="text" name="password" placeholder="Passwort" />
	<input type="submit" />
</form>

<form action="/adduser" method="post">
	<input type="text" name="firstname" placeholder="Vorname"/>
	<input type="text" name="lastname" placeholder="Nachname" />
	<input type="text" name="email" placeholder="e-Mail" />
	<input type="text" name="password" placeholder="Passwort" />
	<input type="submit" />
</form>